* {
    margin: 0;
    padding: 0;
}

hr {
    height: 4px;
    border-style: none;
    background-color: #76c38f;
}

/*HEADER BEGIN*/

header {
    margin-right: auto;
    margin-left: auto;
    height: 600px;
    background-color: #290000;
}

header .top-menu, header .main-info {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.top-menu {
    padding-top: 36px;
    padding-bottom: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#logo {
    font-family: serif;
    font-size: 24pt;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}


ul#menu {
    display: flex;
    list-style: none;
}

ul#menu li {
    margin-left: 8px;
    margin-right: 8px;
    display: flex;
    align-items: center;
}

ul#menu li a {
    font-size: 10pt;
    font-family: serif;
    text-transform: uppercase;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
}

ul#menu li a:hover {
    border-radius: 8px;
    background-color: #76c38f;
}

div.main-info {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.text {
    width: 300px;
}

div.text h1 {
    font-size: 36pt;
    color: white;
    font-weight: normal;
    line-height: 30pt;
    margin-bottom: 24px;
}

div.text p {
    font-size: 10.5pt;
    color: #979797;
    font-weight: normal;
}

div.text input[type = button] {
    margin-top: 24px;
    border-radius: 8px;
    background-color: #76c38f;
    color: white;
    border: none;
    padding: 8px 12px;
}

div.text input[type = button]:hover {
    cursor: pointer;
}

div.main-info div.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 380px;
    height: 380px;
    background-color: #333333;
    border-radius: 380px;
    border: 20px #6b6b6b solid;
}

div.main-info div.image p {
    font-size: 24pt;
}

/*HEADER END*/

/*CONTENT BEGIN */

div.content {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #660000;
}

/*ARTICLES BEGIN */

div.articles {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 980px;
}

div.article {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 225px;
    height: 305px;
    background-color: white;
}

div.article div.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: #333333;
}

div.article h2.title {
    font-size: 28pt;
    line-height: 22pt;
    text-align: center;
    color: #333333;
    font-weight: normal;
}

div.article p.description {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
    color: #979797;
}

div.article:hover{
    background-color: #76c38f;
    cursor: pointer;
}

div.article:hover div.image {
    background-color: white;
}

div.article:hover h2.title {
    color: white;
}

div.article:hover p.description {
    color: white;
}
/*ARTICLES END */

/*WORKS BEGIN */

div.works {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

div.works h2.title{
    font-weight: normal;
    color: white;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #303030;
    line-height: 0;
    margin: 62px 0 52px;
}

div.works h2.title span{
    text-transform: uppercase;
    border-radius: 8px;
    font-size: 20pt;
    background:#303030;
    padding:0 10px;
}

div.works-row{
    width: 980px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
}

div.work{
    background-color: #353535;
    border: 4px white solid;
    width: 290px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    flex-direction: column;
}

div.work div.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.work div.image p{
    font-size: 18pt;
    color: white;
}

div.work div.name p{
    padding: 4px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #151515;
}

div.work:hover{
    cursor: pointer;
    border: 4px #76c38f solid;
}

div.work:hover div.name p{
    color: #353535;
    background-color: #353535;
}

/*WORKS END */

/*CONTENT END */

footer{
    height: 450px;
    background-color: #303030;
}

footer hr{
    height: 2px;
    background-color: black;
}

div.bottom-site-info{
    height: 390px;
    width: 980px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.bottom-site-info div.info{
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 225px;
}

div.bottom-site-info div.info h3{
    color: white;
    font-size: 14pt;
    font-weight: normal;
    margin-bottom: 16px;
}

div.info div.text, div.info div.text p span, div.info div.text p.button{
    color: #76c38f;
}

div.info div.text{
    width: 225px;
}

div.info div.text h4 {
    padding-top: 8px;
}

div.info div.text p{
    margin-top: 8px;
}

nav#bottom-menu ul{
    list-style-position: inside;
    list-style-type: none;
}

nav#bottom-menu li{
    padding:8px 0;
    border-bottom: 1px #404040 solid;
}

nav#bottom-menu li:before{
    content: "»";
    color: #979797;
    margin-right: 10px;
}

nav#bottom-menu li a{
    color: #76c38f;
    text-decoration: none;
}

div.info p.text {
    color: #979797;
    margin-bottom: 16px;
}

div.info p.text span{
    color: #76c38f;
}

.bottom-input{
    font-family: serif;
}

input[type=text].bottom-input, textarea.bottom-input{
    margin-bottom: 8px;
    height: 35px;
    color: #979797;
    padding-left: 16px;
    background-color: #222222;
    border-radius: 8px;
    border-style: none;
}

textarea.bottom-input{
    padding-top: 16px;
    height: 80px;
    resize: none;
}

input[type=submit].bottom-input{
    margin-bottom: 8px;
    height: 35px;
    width: 75px;
    color: #303030;
    background-color: #76c38f;
    border-radius: 8px;
    border-style: none;
    cursor: pointer;
}


div.bottom {
    background-color: #2b2b2b;
}

div.developer-info{
    height: 60px;
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #979797;
}
