.workspace {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
}

.ingredients{
    width: 200px;
    height: 390px;
}

.ingredient p{
    font-size: 14px;
}

.ingredient p.count{
    font-size: 24px;
    display: inline-block;
    margin: 0 16px;
}

.ingredient .control_panel {
    display: inline-block;
}

img.ingredient{
    width: 36px;
    height: 36px;
    vertical-align: top;
}

.control_panel button{
    padding: 8px 16px;
}

#pizza {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 520px;
    height: 520px;
}